@import url('https://fonts.googleapis.com/css?family=Oswald:700,400');

*, *::before, *::after {
  box-sizing: border-box;
}

/* Global Styling */

h2 {
  font-family: Oswald;
  font-weight: 700;
}

p {
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

body {
  background-image: url("https://i.imgur.com/scqbxrG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

label {
  font-family: Oswald;
  font-weight: 400;
  display: block;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: .2rem;
}

input, select {
  font-family: Oswald;
  font-size: 90%;
}

form {
  background: white;
  margin-top: 0px;
  padding: .1rem 1rem 1rem 1rem;
}

button {
  
}

/* ID's */

#title{
  font-family: Oswald, sans-serif;
  font-weight: 700;
}

/* Classes */

.container {
  width: 100%;
  margin: 3.125rem 3.125rem 0 8.125rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  background-color: black;
  color: white;
  text-align: center;
  border-style: solid solid none solid;
  border-color: white;
  margin-bottom: 0px;
  padding-bottom: 16px;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  background-color: black;
  color: white;
}

.basic-label {
  text-align: center;
  background:
     linear-gradient(
       to bottom, black 0%,
       black 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 1px;
  color: #000;
  text-decoration: none;
  transition: background-size .3s;
}

.basic-label:hover {
  background-size: 4px 50px;
  color: white;
}

.special {
  font-family: Oswald;
  font-weight: 400;
  display: block;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: .2rem;
}

.input-radio, .input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.small {
  font-family: Oswald;
  font-size: 100%;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  font-family: Oswald;
  font-size: 90%;
}

.submit-button {
  border: 2px black solid;
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  font-family: Oswald;
  font-weight: 700;
  font-size: 130%;
}

.submit-button:hover {
  background: black;
  color: white;
  transition: .3s;
}